@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&family=Sora:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet');

/* sora-100 - latin */
/* sora-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/sora-v17-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/sora-v17-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/sora-v17-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sora-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/sora-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/sora-v17-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/sora-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/sora-v17-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/epilogue-v17-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-100italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/epilogue-v17-latin-100italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/epilogue-v17-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/epilogue-v17-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/epilogue-v17-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/epilogue-v17-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/epilogue-v17-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/epilogue-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/epilogue-v17-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* epilogue-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/epilogue-v17-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



:root {
    --it-ff-body: 'Sora', sans-serif;
    --it-common-white: #ffffff;
    --it-common-black: #3859A8;
    --it-common-black-1: #333931;
    --it-common-yellow: #E3A524;
    --it-common-yellow-1: rgba(227, 165, 36, 0.2);
    --it-heading-primary: #0E2A46;
    --it-grey-1: #F2F2F2;
    --it-text-body: #333931;
}

.text-blue {
    color: #00204a;
}

body {
    font-family: var(--it-ff-body) !important;
    font-size: 17px;
    font-weight: 400;
    color: var(--it-text-body);
    line-height: 32px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--it-common-black);
    margin-top: 0px;
    font-weight: 700;
    line-height: 1.1;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spacer {
    padding: 100px 0;
}

.row,
p {
    margin: 0;
}

.main-section-title .sub-title {
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding: 0 22px;
    display: inline-block;
    margin-bottom: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    color: var(--it-common-yellow);
    background-color: var(--it-common-yellow-1);
}

.main-section-title .main-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--it-common-black);
    line-height: 34px;
    text-transform: capitalize;
}

.theme-button {
    cursor: pointer;
    padding: 8px 30px;
    background-color: var(--it-common-yellow);
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
    transform: scale(0.9);
}

.theme-button:hover {
    transform: scale(1);
}

.grey-bg {
    background-color: var(--it-grey-1);
}

.sub-page-banner {
    background-image: url('../images/sub-banner.jpg');
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-page-banner-layer {
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}

.sub-page-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}

.sub-menu-link,
.sub-menu-link a {
    color: #fff;
    font-size: 16px;
    transition: 0.5s;
}

.sub-menu-link a:hover {
    color: var(--it-common-yellow);
}

/* ============================ header start ========================== */
.contact_header {
    background-color: var(--it-common-yellow);
    border-radius: 0px 0px 12px 12px;
}

.contact_header svg {
    color: #ffffff;
    fill: #ffffff;
}

.contact_header a {
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
}

.menu-bars {
    font-weight: 500;
    font-size: 15px;
    color: var(--it-common-black);
}

.menu-bars {
    font-size: 20px;
}

/*.main-header {
    position: relative;
}*/

.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    width: 100%;
    animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
    /*background-color: var(--it-common-white);*/
    /*backdrop-filter: blur(50px);*/
    /*box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);*/
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px rgba(7, 37, 68, 0.1);
    z-index: 99;
}

@keyframes headerSlideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.main-header-menu>li>a {
    padding: 26px 20px;
}

.mob-header-menu>li>a {
    padding: 10px 5px;
}

.mob-header-menu>li>a,
.main-header-menu>li>a {
    transition: 0.5s;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: var(--it-common-black);
}

.main-header .mob-header-menu a:hover,
.main-header .main-header-menu a:hover {
    color: var(--it-common-yellow);
}

.main-header-menu {
    position: relative;
}

.sub-header {
    position: absolute;
    left: 0;
    z-index: 9999;
    top: 180%;
    opacity: 0;
    visibility: hidden;
    border-radius: 0px 0px 8px 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 7px 0px 29px;
    background-color: #fff;
    transition: 0.4s;
}

.main-header-menu>li:hover .sub-header {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.sub-header a,
.sub-mob-header a {
    transition: 0.5s;
    display: inline-block;
    font-size: 15px;
    padding-top: 6px;
    text-transform: capitalize;
    color: var(--it-common-black);
    font-weight: 500;
}

.sub-header-title a {
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px dotted var(--it-common-black);
    font-weight: 600 !important;
    font-size: 17px !important;
    color: var(--it-common-yellow) !important;
}

/*.sub-mob-header{
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
}*/
/*.mob-header-menu > li:hover .sub-mob-header {
    max-height:600px;*/
/*overflow: auto;*/
/*}*/



/*====================== Main Banner ======================*/
/*.main-banner{
    height: 80vh;
}*/
#main-banner {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.owl-carousel .item img {
    display: block;
    margin: 0 auto;
}

#main-banner .owl-nav .owl-prev,
#stuent-review .owl-nav .owl-prev,
#main-banner .owl-nav .owl-next,
#stuent-review .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    box-shadow: none !important;
    border-radius: 50% !important;
    background-color: var(--it-common-yellow) !important;
    color: #fff !important;
    padding: 0 !important;
}

#main-banner .owl-nav .owl-prev,
#stuent-review .owl-nav .owl-prev {
    left: 50px !important;
}

#stuent-review .owl-nav .owl-next,
#main-banner .owl-nav .owl-next {
    right: 50px !important;
}

#stuent-review .owl-nav,
#main-banner .owl-nav {
    opacity: 0;
    transition: .3s;
}

#stuent-review:hover .owl-nav,
#main-banner:hover .owl-nav {
    opacity: 1;
}

/*=============== course details ===================*/
.course-box {
    background-color: var(--it-grey-1);
    padding: 40px 15px;
    border-radius: 12px;
    transition: 0.5s;
    height: 100%;
}

.course-box:hover {
    background-color: var(--it-common-yellow);
    color: var(--it-common-white);
}

.course-box span {
    display: inline-block;
    width: 100px;
    height: 100px;
    fill: #fff;
    background-color: var(--it-common-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
    stroke: var(--it-common-white);
}

.course-box span:after {
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;
    border: 3px dashed var(--it-common-yellow);
    border-radius: 50%;
    background-color: transparent;
    transition: 0.5s;
}

.course-box:hover span {
    background-color: var(--it-common-white);
    fill: var(--it-common-yellow);
    stroke: var(--it-common-yellow);
}

.course-box:hover span:after {
    border: 3px dashed var(--it-common-white);
}

.course-box svg {
    width: 70px;
    height: 70px;
}

.course-box-text a {
    font-size: 15px;
    color: var(--it-common-black);
    font-weight: 500;
    transition: 0.5s;
}

.course-box:hover h5,
.course-box:hover a {
    color: var(--it-common-white);
}

/*=============== why choose us ===================*/
.Choose-box {
    border-radius: 8px;
    padding: 30px 20px;
    background-color: #F8F6F1;
    height: 100%;
}

.Choose-box h6 i {
    color: var(--it-common-yellow);
    font-size: 20px;
}

.Choose-box p {
    color: #4D5756;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0;
}

.why-choose-img img {
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*=============student review =============*/
.student-review-box {
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(25, 25, 25, 0.1);
}

.student-review-box p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* ketli line sudhi batavvu */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.student-review-images {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px dotted var(--it-common-yellow);
}

.student-review-images img {
    border-radius: 50%;
    border: 2px solid var(--it-common-white);
}

.student-review-name h6 {
    font-weight: 600;
    color: var(--it-common-yellow);
}

.student-review-name p {
    font-size: 14px;
    line-height: 25px;
}

.student-rating-star {
    font-size: 18px;
    color: var(--it-common-yellow);
}

#stuent-review .owl-item.active,
#stuent-review .owl-item,
#stuent-review .owl-item.cloned,
#stuent-review .owl-item.cloned.active {
    opacity: 0.3;
    transform: scale(0.9);
    transition: 1s;
}

#stuent-review .owl-item.active.center {
    opacity: 1;
    transform: scale(1);
}


/* =========================== about us =====================*/
.about-right-image {
    position: relative;
}

.about-right-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
}

.about-right-image {
    height: 600px;
    border: 10px solid var(--it-common-white);
}

.about-right-image-shape-1 {
    position: absolute;
    top: -26px;
    left: -26px;
    width: 0;
    z-index: -12;
    height: 0;
    border-top: 320px solid var(--it-common-yellow);
    border-right: 320px solid transparent;
}

.about-right-image-shape-2 {
    position: absolute;
    bottom: -26px;
    right: -26px;
    width: 0;
    z-index: -12;
    height: 0;
    border-bottom: 320px solid var(--it-common-black);
    border-left: 320px solid transparent;
}

.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    transition: 0.5s;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: var(--it-common-yellow-1);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: var(--it-common-yellow);
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button:hover:after {
    background-color: #ffae05;
}

/*.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}*/

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 28px solid #fff;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


/*========================= footer ===================*/
footer {
    background-color: var(--it-common-black);
}

footer a {
    /*display: inline-block;*/
    color: #fff;
    font-size: 15px;
}

footer a:hover {
    color: var(--it-common-yellow);
}

.footer-content {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-align: justify;
}

.fotter-social-icon a {
    color: var(--it-common-yellow);
    background-color: var(--it-grey-1);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    transition: 0.5s;
}

.fotter-social-icon a:hover {
    color: var(--it-grey-1);
    background-color: var(--it-common-yellow);
}

/*========================= course details page =======================*/
.course-details-nav button {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    height: 53px;
    line-height: 53px;
    padding: 0 19px;
    color: var(--it-common-black);
    background-color: #F2F2F2 !important;
    border-radius: 5px;
    transition: 0.5s;
}

.course-details-nav button:hover,
.course-details-nav button.active {
    background-color: var(--it-common-yellow) !important;
    color: var(--it-common-white) !important;
}

#nav-overview h4,
#nav-overview h5 {
    color: var(--it-common-black-1);
}

#nav-overview li,
#nav-overview p {
    font-size: 16px;
    line-height: 24px;
    color: #888888;
}

#nav-overview p {
    margin-bottom: 1rem;
}

#nav-overview li {
    list-style: disc;
}

#nav-overview ul {
    padding-left: 20px;
}

#nav-topic .accordion-button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#nav-topic .accordion-button:not(.collapsed) {
    background-color: var(--it-common-white);
    color: var(--it-common-yellow);
}

#nav-topic .accordion-button:focus {
    box-shadow: none;
}

#nav-topic li {
    font-size: 14px;
    line-height: 24px;
    color: #888888;
}

.course-categories-box {
    height: 170px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 10px 10px;
    background-color: var(--it-common-yellow);
    color: var(--it-common-white) !important;
}

.course-categories-box1 {
    background-color: var(--it-common-black);
}

.our-course-name a {
    color: var(--it-common-black);
    font-size: 16px;
    transition: 0.5s;
}

.our-course-name a:hover {
    color: var(--it-common-yellow);
}

/*==============conatct us ==============*/
.contact-us-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--it-common-yellow);
    font-size: 22px;
    color: var(--it-common-white);
}

.contact-us-content a {
    font-size: 15px;
    color: var(--it-common-black);
    transition: 0.5s;
}

.contact-us-content a:hover {
    color: var(--it-common-yellow);
}